/*************************************************************/
/**************************General****************************/
/*************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Itim", cursive;
  background-color: #ffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
.bigContainer {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 10rem 1fr 4rem;
  height: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

/*************************************************************/
/**************************Header*****************************/
/*************************************************************/
header {
  grid-area: header;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  height: 10rem;
  z-index: 100;
}
/*************************************************************/
/**************************Main*******************************/
/*************************************************************/
main {
  /* display: grid;
  grid-template-columns: 100%; */
  grid-area: main;
}
main section.leftAside {
  background-color: #282c34;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  transform: translateX(-10rem);
  width: 10rem;
  position: fixed;
  transition: all 0.5s ease-in;
  z-index: 100;
}
.sideBarItem {
  height: 9rem;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: white solid 0.1rem;
  color: white;
}
.sideBarItem:hover {
  cursor: pointer;
  background-color: #67686b;
}
.sideBarItem img {
  width: auto;
  height: 5rem;
  margin-bottom: 1rem;
}
.sideBarItem h1 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.sideButton {
  height: 3rem;
  width: 3rem;
  background-color: #fb3640;
  position: absolute;
  top: 3rem;
  right: 0;
  transform: translateX(3rem);
  font-size: 1rem;
  color: white;
  text-align: center;
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.leftAside:hover.show {
  transform: translateX(0rem);
  transition: ease-out 0.5s all;
}
.sideButton:hover.show {
  transform: translateX(3rem);
  transition: ease-out 0.5s all;
}
.leftAside:hover.hide {
  transform: translateX(-10rem);
}
.sideButton img {
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;
}

/*************************************************************/
/**************************Screens****************************/
/*************************************************************/
.screens {
  text-align: center;
}

.beautyTitle {
  text-align: center;
  align-content: space-between;
  font-size: 3rem;
}
.beautyParagraph {
  padding: 0 25rem 0 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beautyParagraph a {
  text-decoration: none;
}
a:visited {
  color: #282c34;
}
.profilePhoto {
  width: 150px;
  border-radius: 5px;
  align-self: center;
}

.cardContainer {
  position: relative;
  padding: 0 10% 0 10%;
  height: 100%;
}

.gridAbout {
  display: flex;
}

.gridAbout h3 {
  margin-left: 1rem;
}

.card {
  margin-top: 15px;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 10px;
  border-color: #282c34;
  border-width: 5px;
  border-style: solid;
  animation: fadding-card 2s ease-out;
  cursor: pointer;
}
.overCard {
  /* display: none; */
  position: absolute;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}
.overCardInv {
  /* display: block; */
  position: relative;

  opacity: 100;
  visibility: visible;

  transition: ease-in-out 1s;
}
@keyframes fadding-card {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

/*************************************************************/
/**************************Logo*******************************/
/*************************************************************/
.App-logo {
  height: 8rem;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.App-logo-static {
  height: 8rem;
  position: absolute;
  top: 0;
}
.logo-container {
  position: relative;
  height: 8rem;
  width: 8rem;
}
.logo-container-big {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.logo-container-big2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.logo-container-big2 img {
  height: 5rem;
  width: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-container-big img {
    animation: 5s App-logo-spin infinite ease-in-out;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-container-big2 img {
    animation: 1s App-logo-spin2 infinite linear;
  }
}

@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*************************************************************/
/**************************Footer*****************************/
/*************************************************************/
footer {
  background-color: #282c34;
  align-items: center;
  justify-content: space-around;
  color: white;
  display: flex;
  grid-area: footer;
}
footer h3 {
  margin: 0;
}

/*************************************************************/
/**************************Responsive*************************/
/*************************************************************/
@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr 3fr;
  }
  .gridAbout {
    flex-direction: column;
  }
}
